<!DOCTYPE html>
<html>
<head>
<body>
<form method="post" action="/guardarPost">
	<div>
	     <label for="nombres" class="rem">Nombres:</label>
    </div>
    <input type="text" name="nombre" size="30">
	    <label for="post" class="rem">Entrada:</label>
	     <input type="text" name="envio" size="30">
        
         <div>
        <input type="submit" name="envio" value="Registrar Post">
     </div> 
     
    </div>
   
</body>
</form>
</head>
</html>